.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid gray;  
    padding-bottom: 10px; 
    @media (max-width: 830px) {
        flex-direction: column;
        justify-content: space-evenly;
        height: 400px;
        align-items: center;
        border: none;
    }
}
  
.nav-item {
    color: gray;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
}
  
.nav-item:hover {
    color: #3e7cc0;
    cursor: pointer;
}
  
.nav-item.active {
    color: black;
    @media (max-width: 830px) {
        border-bottom: 1px solid black
    }
}
  
.underline {
    position: absolute;
    height: 2px;
    background-color: black;
    transition: width 0.3s, left 0.3s;
    width: 0;
    left: 0;
    bottom: 0; 
    @media (max-width: 830px) {
        display: none;
    }
}